.projects {
	width: 100%;
	min-height: var(--min-height);
}

.content {
	width: 100%;
	height: calc(var(--min-height) - 2rem);
	/* border: var(--border); */
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projectsList {
	margin-top: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
