.projects {
	width: 100%;
	min-height: var(--min-height);
}

.content {
	width: 100%;
	height: calc(var(--min-height) - 2rem);
	/* border: var(--border); */
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
