* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	font: inherit;
	color: inherit;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	border: none;
	outline: none;
	color: inherit;
	background: transparent;
	cursor: pointer;
}

ul,
li {
	list-style: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
