.logo {
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: 1.6rem;
	font-weight: 900;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: min-content;
	overflow: hidden;
}

.word {
	display: flex;
}

.animation {
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.logo:hover .animation {
	opacity: 1;
}
