.footer {
	height: 4rem;
	border-top: 1px solid var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
	font-weight: 200;
}

.link {
	font-weight: 600;
	transition: all 0.2s ease-in-out;
}

.link:hover {
	color: var(--primary);
}
